################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeSESH/.vs/CodeSESH/v16
/CodeSESH/CodeSESH/bin/Debug/netcoreapp3.1
/CodeSESH/CodeSESH/obj
/CodeSESH/.vs/CodeSESH/DesignTimeBuild
